.navList {
  display: flex;
  margin: 0;
  padding: 0;
}

.navItem {
  list-style: none;
  margin-right: 12px;
}

.navLink {
  text-decoration: none;
}

.navLinkActive {
  color: yellowgreen;
}

.title {
  font-size: 3rem;
}

.logo {
  width: 200px;
}